/* GENERAL--------------------------------------------------------------*/
body{background-color : rgb(0, 0, 0);font-family: Verdana, sans-serif;font-style: normal;}
    
h1{color: #c593ff; border-bottom: #ffffff 1px solid; }

#IFcomentario {
    text-align: center;
    color: black;
    display: block;
    opacity: 0;
    transition: opacity .2s linear;
    background-color: #c593ff;
    overflow: hidden;
}

#IF1:hover #IFcomentario {opacity: 1;}

#imagemMar{
    width: 700px;
}
#susa{
    border: 3px solid #313131;
}
.container{
    max-width: 960px;
    margin: auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.container img{
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 60%;
}

.curriculum{
    color: #ffffff;
}

.informacoes{
    padding-left: 3%;
    color: white;
}
#minhafoto{
 width: 400px;
 border-radius: 3%;
}
/*HEADER*/
header{
    min-height: 70px;
    background-color: #c593ff;
}
.menu ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.menu li{
    padding: 20px;
    min-width: 100px;
}
.menu a:link{
    color: #000000;
    text-decoration-line: none;
}
.menu a:visited{
    color: #000000;
    text-decoration-line: none;
}
.menu a:active{
    color: #000000;
    text-decoration-line: none;
}

.Index{
    display: flex;
}
.fotoIndex{
    padding-left:5%;
    padding-top: 1%;
}
/*FOOTER------------------------------------------------------------------*/
footer.container{display: flex;}
    
footer{background-color: #c593ff; color: black;font-size: .8rem; position: fixed; width: 100%; bottom: 7;}
    
footer p{text-align: center;line-height: 35px;color: #000000;}
    
footer.container{display: flex}
    
footer .menu a{ color:#6c757d;}

.menu ul{display: flex;justify-content: center;list-style: none;}
    
.menu li{
    padding: 20px;
    min-width: 100px;
    -moz-transition: all 0.01s;
    -webkit-transition: all 0.01s;
    transition: all 0.4s;
    bottom: 0;
}
.menu li:hover {-moz-transform: scale(1.2);-webkit-transform: scale(1.2); transform: scale(1.2);}
    
.menu a:link{ color: #000000; text-decoration-line: none;}

.menu a:visited{color: black; text-decoration-line: none;}
    
.menu a:active{color: #c593ff; text-decoration-line: none;}
    
/*JOGOS 2D 3D ------------------------------------------------------------------*/
.JogosSec{
    margin: auto;
    max-width: 1080px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1px;
    padding-bottom: 15px;
}
.JogosSec img{width: 200px;}
    
.JogosImg div{max-width: 200px;}
    
.JogosDiv{padding-bottom: 5px;}

.JogosImg{display: flex; padding-right: 15px; padding-left: 50px;align-items: baseline;}

.JogosImg div{padding-right: 15px; padding-left: 15px;}
    
#JogosFoto img {-moz-transition: all 0.01s; -webkit-transition: all 0.01s;transition: all 0.4s;bottom: 0;}
    
#JogosFoto img:hover {-moz-transform: scale(1.2); -webkit-transform: scale(1.2); transform: scale(1.2);}

.Obras{display: flex; padding-right: 15px; }

.Obras div{padding-right: 15px; padding-left: 15px;}

.Info{
    color:white;
}
